.hero-title {
    background-image: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.primary-button {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    color: white;
    border: none;
}