.card figure{
    justify-content: start;
}
.job-type{
    border: 2px solid rgb(37 99 235);
    border-radius: 5px;
    padding: 5px;
    color: rgb(37 99 235);
}

.single-job-btn{
        background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
        color: white;
        border: none;
   
}